In [1]:
# import Libraries
import pandas as pd
import sweetviz as sv
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
df_covid_ethnicity=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\02 Prepared\COVID\ethnicity_pivot.xlsx",index_col=False)

In [3]:
df_covid_ethnicity.head()

   year    state      Ethnicity_1  covid_cases
0  2020  Alabama            Asian          387
1  2020  Alabama            Black        57721
2  2020  Alabama  Hispanic/Latino          348
3  2020  Alabama   Multiple/Other         2227
4  2020  Alabama          Unknown       163878

In [8]:
df_suicide_ethnicity=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\Suicide\Ethnicity-Public Health Impact Suicide.xlsx",index_col=False)

In [9]:
df_suicide_ethnicity.head()

   year    state                    Ethnicity_1  suicide_deaths
0  2019  Alabama                          Black             5.8
1  2019  Alabama                          White            22.3
2  2019   Alaska  American Indian/Alaska Native            54.2
3  2019   Alaska                          White            24.0
4  2019  Arizona  American Indian/Alaska Native            26.6

In [10]:
df=df_covid_ethnicity.merge(df_suicide_ethnicity,on=['year','state','Ethnicity_1'],how='outer')

In [12]:
df.sort_values(by=['year','state','Ethnicity_1'],ascending=True,inplace=True)

In [13]:
df.head()

,year,state,Ethnicity_1,covid_cases,suicide_deaths
1039,2019,Alabama,Black,NaN,5.8
1040,2019,Alabama,White,NaN,22.3
1041,2019,Alaska,American Indian/Alaska Native,NaN,54.2
1042,2019,Alaska,White,NaN,24.0
1043,2019,Arizona,American Indian/Alaska Native,NaN,26.6

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1296 entries, 1039 to 1038
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            1296 non-null   int64
 1   state           1296 non-null   object
 2   Ethnicity_1     1296 non-null   object
 3   covid_cases     1039 non-null   float64
 4   suicide_deaths  438 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 60.8+ KB

In [15]:
df.to_excel(r'C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\02 Prepared\Combined\ethnicity.xlsx')