## 01 Import Libraries

In [1]:
import pandas as pd
import sweetviz as sv
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import chardet

## 02 Import Data

In [2]:
df=pd.read_csv(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\COVID\COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv", index_col=False)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7460\3392676943.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\COVID\COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv", index_col=False)

## 03 Inspect Dataframe

In [3]:
#check dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74849225 entries, 0 to 74849224
Data columns (total 19 columns):
 #   Column                           Dtype
---  ------                           -----
 0   case_month                       object
 1   res_state                        object
 2   state_fips_code                  float64
 3   res_county                       object
 4   county_fips_code                 float64
 5   age_group                        object
 6   sex                              object
 7   race                             object
 8   ethnicity                        object
 9   case_positive_specimen_interval  float64
 10  case_onset_interval              float64
 11  process                          object
 12  exposure_yn                      object
 13  current_status                   object
 14  symptom_status                   object
 15  hosp_yn                          object
 16  icu_yn                           object
 17  death_yn                         object
 18  underlying_conditions_yn         object
dtypes: float64(4), object(15)
memory usage: 10.6+ GB

In [4]:
#check dataframe
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-02,AZ,4.0,MARICOPA,4013.0,65+ years,Female,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN
1,2021-12,NE,31.0,NaN,NaN,Missing,Unknown,Unknown,Unknown,NaN,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,NaN
2,2022-03,FL,12.0,MIAMI-DADE,12086.0,18 to 49 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2021-01,IL,17.0,COOK,17031.0,65+ years,Male,White,Unknown,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2022-02,AZ,4.0,MARICOPA,4013.0,65+ years,Female,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [6]:
#check dataframe
df.tail()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
74849220,2021-01,IL,17.0,COOK,17031.0,65+ years,Male,White,Unknown,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
74849221,2021-12,NE,31.0,NaN,NaN,Missing,Unknown,Unknown,Unknown,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
74849222,2022-03,FL,12.0,MIAMI-DADE,12086.0,18 to 49 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
74849223,2021-01,IL,17.0,COOK,17031.0,65+ years,Male,White,Unknown,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,Missing,NaN
74849224,2022-02,CA,6.0,LOS ANGELES,6037.0,18 to 49 years,Female,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN

In [7]:
#Check numerical data
round(df.describe(),2)

,state_fips_code,county_fips_code,case_positive_specimen_interval,case_onset_interval
count,74848163.00,70163696.00,29693041.00,30493819.00
mean,26.99,26847.87,0.17,0.06
std,16.11,16021.69,2.01,1.52
min,1.00,1001.00,-108.00,-104.00
25%,12.00,12085.00,0.00,0.00
50%,27.00,27003.00,0.00,0.00
75%,40.00,39153.00,0.00,0.00
max,78.00,56041.00,122.00,113.00

## 04 Clean Dataframe

In [12]:
#rename columns
df.rename(columns={df.columns[0]:'date_recieved', df.columns[1]:'state_of_residence', df.columns[2]:'state_code', df.columns[3]:'county_of_residence', df.columns[4]:'county_code', df.columns[12]:'exposure', df.columns[15]:'hospitalized', df.columns[16]:'icu', df.columns[17]:'death', df.columns[18]:'underlying_conditions'}, inplace=True)

In [13]:
#make sure columns were correctly renamed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74849225 entries, 0 to 74849224
Data columns (total 19 columns):
 #   Column                           Dtype
---  ------                           -----
 0   date_recieved                    object
 1   state_of_residence               object
 2   state_code                       float64
 3   county_of_residence              object
 4   county_code                      float64
 5   age_group                        object
 6   sex                              object
 7   race                             object
 8   ethnicity                        object
 9   case_positive_specimen_interval  float64
 10  case_onset_interval              float64
 11  process                          object
 12  exposure                         object
 13  current_status                   object
 14  symptom_status                   object
 15  hospitalized                     object
 16  icu                              object
 17  death                            object
 18  underlying_conditions            object
dtypes: float64(4), object(15)
memory usage: 10.6+ GB

In [11]:
#Finding mixed data types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

date_recieved
state_of_residence
res_county
age_group
sex
race
ethnicity
death
underlying_conditions_yn

In [18]:
#Finding number missing values per row
df.isnull().sum()

date_recieved                             0
state_of_residence                        0
state_code                             1062
county_of_residence                 4685529
county_code                         4685529
age_group                            609962
sex                                 1823234
race                               11155477
ethnicity                          12497148
case_positive_specimen_interval    45156184
case_onset_interval                44355406
process                                   0
exposure                                  0
current_status                            0
symptom_status                            0
hospitalized                              0
icu                                       0
death                               2524287
underlying_conditions              72050836
dtype: int64

In [21]:
#percent of data that is missing per row
total_rows = len(df)
total_missing_rows = df.isnull().sum()
percent_missing_per_row = (total_missing_rows/total_rows) * 100
percent_missing_per_row[percent_missing_per_row > 0]

state_code                          0.001419
county_of_residence                 6.259957
county_code                         6.259957
age_group                           0.814921
sex                                 2.435876
race                               14.903931
ethnicity                          16.696429
case_positive_specimen_interval    60.329528
case_onset_interval                59.259673
death                               3.372496
underlying_conditions              96.261299
dtype: float64

In [24]:
#delete column underlying_conditions because 96% data missing
df.drop(columns=['underlying_conditions'], inplace=True)

In [25]:
#recheck dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74849225 entries, 0 to 74849224
Data columns (total 18 columns):
 #   Column                           Dtype
---  ------                           -----
 0   date_recieved                    object
 1   state_of_residence               object
 2   state_code                       float64
 3   county_of_residence              object
 4   county_code                      float64
 5   age_group                        object
 6   sex                              object
 7   race                             object
 8   ethnicity                        object
 9   case_positive_specimen_interval  float64
 10  case_onset_interval              float64
 11  process                          object
 12  exposure                         object
 13  current_status                   object
 14  symptom_status                   object
 15  hospitalized                     object
 16  icu                              object
 17  death                            object
dtypes: float64(4), object(14)
memory usage: 10.0+ GB

In [23]:
#Finding total missing values 
df.isnull().sum().sum()

199544654

In [26]:
#percent of data that is missing
total_cells = np.product(df.shape)
total_missing = df.isnull().sum().sum()
total_percent_missing = round((total_missing/total_cells)*100,2)
total_percent_missing

9.46

In [15]:
#change data type
df['date_recieved'] = df['date_recieved'].astype('str')

In [16]:
#change data type
df['state_of_residence'] = df['state_of_residence'].astype('str')

In [28]:
#finding duplicate records
df.duplicated().sum()

66163708

In [30]:
# get all the unique values in a column
unique_death=df['death'].unique()
unique_death

array(['Missing', 'No', 'Yes', nan, 'Unknown'], dtype=object)

In [32]:
#Find and Replace
df['death'] = df['death'].replace(regex=['Missing'],value='Unknown')

In [35]:
#fill in missing values
df['death'].fillna('Unknown', inplace=True)

In [36]:
# recheck all the unique values in a column
unique_death=df['death'].unique()
unique_death

array(['Unknown', 'No', 'Yes'], dtype=object)

In [37]:
# get all the unique values in a column
unique_icu=df['icu'].unique()
unique_icu

array(['Missing', 'Unknown', 'Yes', 'No', 'U', 'nul', 'Unk'], dtype=object)

In [38]:
#fill in missing values
df['icu'].fillna('Unknown', inplace=True)

In [39]:
#Find and Replace
df['icu']=df['icu'].replace(regex=['Missing', 'U', 'nul', 'unk'], value ='Unknown')

In [40]:
# recheck all the unique values in a column
unique_icu=df['icu'].unique()
unique_icu

array(['Unknown', 'Unknownnknown', 'Yes', 'No', 'Unknownnk'], dtype=object)

In [41]:
#Find and Replace
df['icu']=df['icu'].replace(regex=['Unknownnknown'], value ='Unknown')

In [42]:
#Find and Replace
df['icu']=df['icu'].replace(regex=['Unknownnk'], value ='Unknown')

In [43]:
# recheck all the unique values in a column
unique_icu=df['icu'].unique()
unique_icu

array(['Unknown', 'Yes', 'No'], dtype=object)

In [44]:
# get all the unique values in a column
unique_hospitalized=df['hospitalized'].unique()
unique_hospitalized

array(['Missing', 'No', 'Yes', 'Unknown'], dtype=object)

In [45]:
#Find and Replace
df['hospitalized'] = df['hospitalized'].replace(regex=['Missing'],value='Unknown')

In [46]:
# recheck all the unique values in a column
unique_hospitalized=df['hospitalized'].unique()
unique_hospitalized

array(['Unknown', 'No', 'Yes'], dtype=object)

In [47]:
# get all the unique values in a column
unique_symptom_status=df['symptom_status'].unique()
unique_symptom_status

array(['Missing', 'Symptomatic', 'Unknown', 'Asymptomatic', 'U', '202',
       'Sho', 'gfh', 'Mus', 'Cou', 'Fat', 'nul', 'Unk', 'Yes', 'No',
       'Fev', 'Exp', 'exp'], dtype=object)

In [48]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['Missing'],value='Unknown')

In [49]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['U'],value='Unknown')

In [50]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['Unk'],value='Unknown')

In [51]:
#fill in missing values
df['symptom_status'].fillna('Unknown', inplace=True)

In [52]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['Unk'],value='Unknown')

In [53]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['exp'],value='Exp')

In [54]:
# recheck all the unique values in a column
unique_symptom_status=df['symptom_status'].unique()
unique_symptom_status

array(['Unknownnownnknown', 'Symptomatic', 'Asymptomatic', 'Unknownnown',
       'Unknown', 'Sho', 'gfh', 'Mus', 'Cou', 'Fat', 'nul',
       'Unknownnownnk', 'Yes', 'No', 'Fev', 'Exp'], dtype=object)

In [55]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['Unknownnownnknown'],value='Unknown')

In [56]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['Unknownnown'],value='Unknown')

In [57]:
#Find and Replace
df['symptom_status'] = df['symptom_status'].replace(regex=['Unknownnownnk'],value='Unknown')

In [58]:
# recheck all the unique values in a column
unique_symptom_status=df['symptom_status'].unique()
unique_symptom_status

array(['Unknown', 'Symptomatic', 'Asymptomatic', 'Sho', 'gfh', 'Mus',
       'Cou', 'Fat', 'nul', 'Unknownnk', 'Yes', 'No', 'Fev', 'Exp'],
      dtype=object)

In [59]:
# get all the unique values in a column
current_symptom_status=df['current_status'].unique()
current_symptom_status

array(['Probable Case', 'Laboratory-confirmed case'], dtype=object)

In [60]:
# get all the unique values in a column
unique_exposure=df['exposure'].unique()
unique_exposure

array(['Missing', 'Yes', 'Unknown'], dtype=object)

In [61]:
#Find and Replace
df['exposure'] = df['exposure'].replace(regex=['Missing'],value='Unknown')

In [62]:
# Recheck all the unique values in a column
unique_exposure=df['exposure'].unique()
unique_exposure

array(['Unknown', 'Yes'], dtype=object)

In [63]:
# get all the unique values in a column
unique_process=df['process'].unique()
unique_process

array(['Missing', 'Laboratory reported', 'Routine surveillance',
       'Clinical evaluation', 'Multiple', 'Other',
       'Contact tracing of case patient', 'Provider reported',
       'Routine physical examination', 'Unknown',
       'Other detection method (specify)', 'Autopsy'], dtype=object)

In [64]:
# get all the unique values in a column
unique_ethnicity=df['ethnicity'].unique()
unique_ethnicity

array(['Non-Hispanic/Latino', 'Unknown', nan, 'Hispanic/Latino',
       'Missing'], dtype=object)

In [65]:
#fill in missing values
df['ethnicity'].fillna('Unknown', inplace=True)

In [66]:
#Find and Replace
df['ethnicity'] = df['ethnicity'].replace(regex=['Missing'],value='Unknown')

In [67]:
# recheck all the unique values in a column
unique_ethnicity=df['ethnicity'].unique()
unique_ethnicity

array(['Non-Hispanic/Latino', 'Unknown', 'Hispanic/Latino'], dtype=object)

In [68]:
# get all the unique values in a column
unique_race=df['race'].unique()
unique_race

array(['White', 'Unknown', nan, 'American Indian/Alaska Native', 'Asian',
       'Black', 'Missing', 'Native Hawaiian/Other Pacific Islander',
       'Multiple/Other'], dtype=object)

In [69]:
#fill in missing values
df['race'].fillna('Unknown', inplace=True)

In [70]:
#Find and Replace
df['race'] = df['race'].replace(regex=['Missing'],value='Unknown')

In [71]:
# recheck all the unique values in a column
unique_race=df['race'].unique()
unique_race

array(['White', 'Unknown', 'American Indian/Alaska Native', 'Asian',
       'Black', 'Native Hawaiian/Other Pacific Islander',
       'Multiple/Other'], dtype=object)

In [72]:
# get all the unique values in a column
unique_sex=df['sex'].unique()
unique_sex

array(['Female', 'Unknown', 'Male', nan, 'Missing', 'Other'], dtype=object)

In [73]:
#fill in missing values
df['sex'].fillna('Unknown', inplace=True)

In [74]:
#Find and Replace
df['sex'] = df['sex'].replace(regex=['Missing'],value='Unknown')

In [75]:
# recheck all the unique values in a column
unique_sex=df['sex'].unique()
unique_sex

array(['Female', 'Unknown', 'Male', 'Other'], dtype=object)

In [76]:
# get all the unique values in a column
unique_age_group=df['age_group'].unique()
unique_age_group

array(['65+ years', 'Missing', '18 to 49 years', '0 - 17 years',
       '50 to 64 years', nan], dtype=object)

In [77]:
#fill in missing values
df['age_group'].fillna('Unknown', inplace=True)

In [78]:
#Find and Replace
df['age_group'] = df['age_group'].replace(regex=['Missing'],value='Unknown')

In [79]:
# recheck all the unique values in a column
unique_age_group=df['age_group'].unique()
unique_age_group

array(['65+ years', 'Unknown', '18 to 49 years', '0 - 17 years',
       '50 to 64 years'], dtype=object)

## Export Dataframe

In [80]:
#use pickle to export dataframe
df.to_pickle(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\COVID\COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.pkl")