## Import Libraries

In [1]:
import pandas as pd
import sweetviz as sv
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import chardet

## Import Data

In [2]:
df=pd.read_csv(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\COVID\COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv", index_col=False)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3392676943.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\COVID\COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv", index_col=False)

## Split Dateframe

In [3]:
df1=df[:25000000]

In [4]:
df2=df[25000001:50000000]

In [5]:
df3=df[50000001:74849225]

## Inspect Dataframe 1

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000000 entries, 0 to 24999999
Data columns (total 19 columns):
 #   Column                           Dtype
---  ------                           -----
 0   case_month                       object
 1   res_state                        object
 2   state_fips_code                  float64
 3   res_county                       object
 4   county_fips_code                 float64
 5   age_group                        object
 6   sex                              object
 7   race                             object
 8   ethnicity                        object
 9   case_positive_specimen_interval  float64
 10  case_onset_interval              float64
 11  process                          object
 12  exposure_yn                      object
 13  current_status                   object
 14  symptom_status                   object
 15  hosp_yn                          object
 16  icu_yn                           object
 17  death_yn                         object
 18  underlying_conditions_yn         object
dtypes: float64(4), object(15)
memory usage: 3.5+ GB

In [7]:
df1.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-02,AZ,4.0,MARICOPA,4013.0,65+ years,Female,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN
1,2021-12,NE,31.0,NaN,NaN,Missing,Unknown,Unknown,Unknown,NaN,0.0,Missing,Missing,Probable Case,Symptomatic,Missing,Missing,Missing,NaN
2,2022-03,FL,12.0,MIAMI-DADE,12086.0,18 to 49 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2021-01,IL,17.0,COOK,17031.0,65+ years,Male,White,Unknown,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2022-02,AZ,4.0,MARICOPA,4013.0,65+ years,Female,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

## Clean Dataframe 1

In [8]:
# delete irrelevent columns
df1.drop(df.columns[[2,3,4,9,10,11,12,13,14,15,16,17,18]], axis = 1, inplace = True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2242923841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(df.columns[[2,3,4,9,10,11,12,13,14,15,16,17,18]], axis = 1, inplace = True)

In [9]:
# recheck dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000000 entries, 0 to 24999999
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   case_month  object
 1   res_state   object
 2   age_group   object
 3   sex         object
 4   race        object
 5   ethnicity   object
dtypes: object(6)
memory usage: 1.1+ GB

In [10]:
df1.replace(['Missing',],'Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\461507088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.replace(['Missing',],'Unknown',inplace=True)

In [11]:
# seperate year and month to match other dataframes
df1[['year','month']] = df1['case_month'].str.split('-', expand = True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2175010207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[['year','month']] = df1['case_month'].str.split('-', expand = True)
C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2175010207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[['year','month']] = df1['case_month'].str.split('-', expand = True)

In [12]:
# delete combined date column because not needed
# delete month column because other dataframes only have years
df1.drop(columns=['case_month','month'],inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2927108354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(columns=['case_month','month'],inplace=True)

In [13]:

df1['ethnicity'].replace(['Non-Hispanic/Latino'],'',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1144332074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ethnicity'].replace(['Non-Hispanic/Latino'],'',inplace=True)

In [14]:
# combine race and ethnicity into 1 new column to match other dataframes
df1['Ethnicity_1']=df1['race'] + df1['ethnicity']

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1491610068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1']=df1['race'] + df1['ethnicity']

In [15]:
#delete race and ethnicity columns because no longer needed
df1.drop(columns=['race','ethnicity'],inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2737724617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(columns=['race','ethnicity'],inplace=True)

In [16]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['UnknownUnknown',],'Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1407736079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['UnknownUnknown',],'Unknown',inplace=True)

In [17]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['WhiteUnknown',],'White',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2900102193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['WhiteUnknown',],'White',inplace=True)

In [18]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['WhiteHispanic/Latino',],'White',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2462894864.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['WhiteHispanic/Latino',],'White',inplace=True)

In [19]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['American Indian/Alaska NativeHispanic/Latino',],'American Indian/Alaska Native',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1517786971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['American Indian/Alaska NativeHispanic/Latino',],'American Indian/Alaska Native',inplace=True)

In [20]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['AsianHispanic/Latino',],'Asian',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\930896390.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['AsianHispanic/Latino',],'Asian',inplace=True)

In [21]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['BlackHispanic/Latino',],'Black',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\405989034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['BlackHispanic/Latino',],'Black',inplace=True)

In [22]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['UnknownHispanic/Latino',],'Hispanic/Latino',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1438221661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['UnknownHispanic/Latino',],'Hispanic/Latino',inplace=True)

In [23]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderHispanic/Latino',],'Native Hawaiian/Other Pacific Islander',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1945679014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderHispanic/Latino',],'Native Hawaiian/Other Pacific Islander',inplace=True)

In [24]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['Multiple/OtherHispanic/Latino',],'Multiple/Other',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2562036136.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['Multiple/OtherHispanic/Latino',],'Multiple/Other',inplace=True)

In [25]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['American Indian/Alaska NativeUnknown',],'American Indian/Alaska Native',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3156423759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['American Indian/Alaska NativeUnknown',],'American Indian/Alaska Native',inplace=True)

In [26]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['Multiple/OtherUnknown',],'Multiple/Other',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2831038197.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['Multiple/OtherUnknown',],'Multiple/Other',inplace=True)

In [27]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['AsianUnknown',],'Asian',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2996266446.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['AsianUnknown',],'Asian',inplace=True)

In [28]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['BlackUnknown',],'Black',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\4254078711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['BlackUnknown',],'Black',inplace=True)

In [29]:
# replace improper values with correct spelling
df1['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderUnknown',],'Native Hawaiian/Other Pacific Islander',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3815739277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderUnknown',],'Native Hawaiian/Other Pacific Islander',inplace=True)

In [30]:
df1.fillna('Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\441150883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.fillna('Unknown',inplace=True)

In [31]:
# recheck values in ethnicity column
df1['Ethnicity_1'].unique()

array(['White', 'Unknown', 'American Indian/Alaska Native', 'Asian',
       'Black', 'Hispanic/Latino',
       'Native Hawaiian/Other Pacific Islander', 'Multiple/Other'],
      dtype=object)

In [32]:
# rename column to match other dataframes
df1.rename(columns={'res_state':'state'},inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2652297063.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'res_state':'state'},inplace=True)

In [33]:
# recheck dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000000 entries, 0 to 24999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   state        object
 1   age_group    object
 2   sex          object
 3   year         object
 4   Ethnicity_1  object
dtypes: object(5)
memory usage: 953.7+ MB

In [34]:
#Finding number missing values per row
df1.isnull().sum()

state          0
age_group      0
sex            0
year           0
Ethnicity_1    0
dtype: int64

In [35]:
#finding duplicate records
df1.duplicated().sum()

24992626

In [36]:
# change column order
df1=df1.iloc[:, [3,0,1,2,4]]

In [37]:
# check unique value counts
df1['state'].value_counts()

CA         2648165
TX         1711546
GA         1116903
IL         1108313
NC         1091781
OH          957203
TN          946882
VA          945038
IN          865756
NY          779770
PA          773547
FL          769339
MO          692411
WI          682019
MI          674892
MN          629508
LA          562287
AR          517708
AL          516903
AZ          512984
SC          499590
KY          475455
OK          444533
KS          423561
IA          386171
CO          370759
WA          368482
NJ          291642
OR          282796
MD          279306
NM          255375
UT          233382
ID          217200
NE          188876
MA          177413
SD          164373
AK          162155
ND          160279
ME          151374
CT          114078
WY          105398
VT          103722
MT          103105
HI           94947
PR           87797
NV           81278
NH           67097
RI           66321
MS           59869
DE           51067
VI           18078
WV           10504
Unknown       1062
Name: state, dtype: int64

In [39]:
df1=df1[df1['state'].str.contains('Unknown')==False]

In [41]:
# check unique value counts
df1['age_group'].value_counts()

18 to 49 years    12408275
50 to 64 years     4500632
0 - 17 years       4283880
65+ years          3055645
Unknown             750506
Name: age_group, dtype: int64

In [42]:
df1=df1[df1['age_group'].str.contains('Unknown')==False ]

In [43]:
# check unique value counts
df1['sex'].value_counts()

Female     12042683
Male       10588415
Unknown     1616917
Other           417
Name: sex, dtype: int64

In [44]:
df1=df1[df1['sex'].str.contains('Unknown')==False ]

In [45]:
# check unique value counts
df1['year'].value_counts()

2021    9852504
2022    6820566
2020    5958445
Name: year, dtype: int64

In [46]:
df1=df1[df1['year'].str.contains('Unknown')==False ]

In [47]:
# check unique value counts
df1['Ethnicity_1'].value_counts()

White                                     12449361
Unknown                                    7371518
Black                                      1548783
Hispanic/Latino                             433718
Asian                                       346591
Multiple/Other                              258788
American Indian/Alaska Native               208195
Native Hawaiian/Other Pacific Islander       14561
Name: Ethnicity_1, dtype: int64

In [48]:
df1=df1[df1['Ethnicity_1'].str.contains('Unknown')==False ]

In [50]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15259997 entries, 0 to 24999991
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   year         object
 1   state        object
 2   age_group    object
 3   sex          object
 4   Ethnicity_1  object
dtypes: object(5)
memory usage: 698.5+ MB

## Inspect Dataframe 2

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999999 entries, 25000001 to 49999999
Data columns (total 19 columns):
 #   Column                           Dtype
---  ------                           -----
 0   case_month                       object
 1   res_state                        object
 2   state_fips_code                  float64
 3   res_county                       object
 4   county_fips_code                 float64
 5   age_group                        object
 6   sex                              object
 7   race                             object
 8   ethnicity                        object
 9   case_positive_specimen_interval  float64
 10  case_onset_interval              float64
 11  process                          object
 12  exposure_yn                      object
 13  current_status                   object
 14  symptom_status                   object
 15  hosp_yn                          object
 16  icu_yn                           object
 17  death_yn                         object
 18  underlying_conditions_yn         object
dtypes: float64(4), object(15)
memory usage: 3.5+ GB

In [52]:
df2.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
25000001,2022-01,SC,45.0,DORCHESTER,45035.0,0 - 17 years,Female,Black,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
25000002,2022-02,NC,37.0,ROCKINGHAM,37157.0,0 - 17 years,Female,Black,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Unknown,Unknown,No,NaN
25000003,2021-01,NC,37.0,MCDOWELL,37111.0,50 to 64 years,Female,White,Non-Hispanic/Latino,0.0,0.0,Missing,Unknown,Probable Case,Symptomatic,No,Unknown,No,NaN
25000004,2021-08,TN,47.0,JEFFERSON,47089.0,65+ years,Female,White,Non-Hispanic/Latino,0.0,0.0,Missing,Missing,Probable Case,Symptomatic,No,No,NaN,Yes
25000005,2022-02,ME,23.0,KENNEBEC,23011.0,0 - 17 years,Male,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN

## Clean Dataframe 2

In [53]:
# delete irrelevent columns
df2.drop(df.columns[[2,3,4,9,10,11,12,13,14,15,16,17,18]], axis = 1, inplace = True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2396143330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(df.columns[[2,3,4,9,10,11,12,13,14,15,16,17,18]], axis = 1, inplace = True)

In [54]:
# recheck dataframe
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999999 entries, 25000001 to 49999999
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   case_month  object
 1   res_state   object
 2   age_group   object
 3   sex         object
 4   race        object
 5   ethnicity   object
dtypes: object(6)
memory usage: 1.1+ GB

In [55]:
df2.replace(['Missing',],'Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3596988615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.replace(['Missing',],'Unknown',inplace=True)

In [56]:
# seperate year and month to match other dataframes
df2[['year','month']] = df2['case_month'].str.split('-', expand = True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1753684243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['year','month']] = df2['case_month'].str.split('-', expand = True)
C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1753684243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['year','month']] = df2['case_month'].str.split('-', expand = True)

In [57]:
# delete combined date column because not needed
# delete month column because other dataframes only have years
df2.drop(columns=['case_month','month'],inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1606126382.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['case_month','month'],inplace=True)

In [58]:

df2['ethnicity'].replace(['Non-Hispanic/Latino'],'',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\118269368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ethnicity'].replace(['Non-Hispanic/Latino'],'',inplace=True)

In [59]:
# combine race and ethnicity into 1 new column to match other dataframes
df2['Ethnicity_1']=df2['race'] + df2['ethnicity']

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\443228955.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1']=df2['race'] + df2['ethnicity']

In [60]:
#delete race and ethnicity columns because no longer needed
df2.drop(columns=['race','ethnicity'],inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1966985911.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['race','ethnicity'],inplace=True)

In [61]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['UnknownUnknown',],'Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1299184069.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['UnknownUnknown',],'Unknown',inplace=True)

In [62]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['WhiteUnknown',],'White',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1521363859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['WhiteUnknown',],'White',inplace=True)

In [63]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['WhiteHispanic/Latino',],'White',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3959354013.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['WhiteHispanic/Latino',],'White',inplace=True)

In [64]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['American Indian/Alaska NativeHispanic/Latino',],'American Indian/Alaska Native',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1040161692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['American Indian/Alaska NativeHispanic/Latino',],'American Indian/Alaska Native',inplace=True)

In [65]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['AsianHispanic/Latino',],'Asian',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2395066593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['AsianHispanic/Latino',],'Asian',inplace=True)

In [66]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['BlackHispanic/Latino',],'Black',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3289599958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['BlackHispanic/Latino',],'Black',inplace=True)

In [67]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['UnknownHispanic/Latino',],'Hispanic/Latino',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\4118357565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['UnknownHispanic/Latino',],'Hispanic/Latino',inplace=True)

In [68]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderHispanic/Latino',],'Native Hawaiian/Other Pacific Islander',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1275272453.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderHispanic/Latino',],'Native Hawaiian/Other Pacific Islander',inplace=True)

In [69]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['Multiple/OtherHispanic/Latino',],'Multiple/Other',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\874728313.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['Multiple/OtherHispanic/Latino',],'Multiple/Other',inplace=True)

In [70]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['American Indian/Alaska NativeUnknown',],'American Indian/Alaska Native',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\642382932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['American Indian/Alaska NativeUnknown',],'American Indian/Alaska Native',inplace=True)

In [71]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['Multiple/OtherUnknown',],'Multiple/Other',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3446050765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['Multiple/OtherUnknown',],'Multiple/Other',inplace=True)

In [72]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['AsianUnknown',],'Asian',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2910715856.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['AsianUnknown',],'Asian',inplace=True)

In [73]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['BlackUnknown',],'Black',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3855676040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['BlackUnknown',],'Black',inplace=True)

In [74]:
# replace improper values with correct spelling
df2['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderUnknown',],'Native Hawaiian/Other Pacific Islander',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3616065529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderUnknown',],'Native Hawaiian/Other Pacific Islander',inplace=True)

In [75]:
df2.fillna('Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3673140014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.fillna('Unknown',inplace=True)

In [76]:
# recheck values in ethnicity column
df2['Ethnicity_1'].unique()

array(['Black', 'White', 'Unknown', 'American Indian/Alaska Native',
       'Multiple/Other', 'Asian', 'Hispanic/Latino',
       'Native Hawaiian/Other Pacific Islander'], dtype=object)

In [77]:
# rename column to match other dataframes
df2.rename(columns={'res_state':'state'},inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1857075065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'res_state':'state'},inplace=True)

In [78]:
# recheck dataframe
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999999 entries, 25000001 to 49999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   state        object
 1   age_group    object
 2   sex          object
 3   year         object
 4   Ethnicity_1  object
dtypes: object(5)
memory usage: 953.7+ MB

In [79]:
#Finding number missing values per row
df2.isnull().sum()

state          0
age_group      0
sex            0
year           0
Ethnicity_1    0
dtype: int64

In [80]:
#finding duplicate records
df2.duplicated().sum()

24992652

In [81]:
# change column order
df2=df2.iloc[:, [3,0,1,2,4]]

In [82]:
# check unique value counts
df2['state'].value_counts()

CA    1902558
FL    1570078
NC    1443207
PA    1387298
NY    1301671
TX    1231890
NJ    1137951
OH    1117076
IL     923944
SC     793831
TN     716478
GA     708561
MI     702411
IN     685271
CO     660698
VA     621874
MA     604000
WA     590399
WI     569446
LA     561781
AL     537878
MN     528148
MO     503951
MD     458970
AZ     419579
OR     399543
UT     315740
AR     295295
KS     232887
CT     228095
OK     200151
NM     193537
KY     177712
ID     177610
DE     147859
NV     134132
IA     117306
ME     102873
RI      99405
AK      88008
ND      83438
MT      77566
HI      72085
NE      55969
SD      55889
NH      28342
WY      21167
VT      16441
Name: state, dtype: int64

In [83]:
df2=df2[df2['state'].str.contains('Unknown')==False]

In [84]:
# check unique value counts
df2['age_group'].value_counts()

18 to 49 years    13096049
50 to 64 years     4447648
0 - 17 years       4216473
65+ years          2851370
Unknown             388459
Name: age_group, dtype: int64

In [85]:
df2=df2[df2['age_group'].str.contains('Unknown')==False ]

In [86]:
# check unique value counts
df2['sex'].value_counts()

Female     12775469
Male       11250372
Unknown      585196
Other           503
Name: sex, dtype: int64

In [87]:
df2=df2[df2['sex'].str.contains('Unknown')==False ]

In [88]:
# check unique value counts
df2['year'].value_counts()

2021    10743202
2022     7251780
2020     6031362
Name: year, dtype: int64

In [89]:
df2=df2[df2['year'].str.contains('Unknown')==False ]

In [90]:
# check unique value counts
df2['Ethnicity_1'].value_counts()

White                                     12322122
Unknown                                    7832977
Black                                      2372845
Asian                                       542522
Hispanic/Latino                             445618
Multiple/Other                              369252
American Indian/Alaska Native               125690
Native Hawaiian/Other Pacific Islander       15318
Name: Ethnicity_1, dtype: int64

In [91]:
df2=df2[df2['Ethnicity_1'].str.contains('Unknown')==False ]

In [92]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16193367 entries, 25000001 to 49999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   year         object
 1   state        object
 2   age_group    object
 3   sex          object
 4   Ethnicity_1  object
dtypes: object(5)
memory usage: 741.3+ MB

## Inspect Dataframe 3

In [93]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24849224 entries, 50000001 to 74849224
Data columns (total 19 columns):
 #   Column                           Dtype
---  ------                           -----
 0   case_month                       object
 1   res_state                        object
 2   state_fips_code                  float64
 3   res_county                       object
 4   county_fips_code                 float64
 5   age_group                        object
 6   sex                              object
 7   race                             object
 8   ethnicity                        object
 9   case_positive_specimen_interval  float64
 10  case_onset_interval              float64
 11  process                          object
 12  exposure_yn                      object
 13  current_status                   object
 14  symptom_status                   object
 15  hosp_yn                          object
 16  icu_yn                           object
 17  death_yn                         object
 18  underlying_conditions_yn         object
dtypes: float64(4), object(15)
memory usage: 3.5+ GB

In [94]:
df3.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
50000001,2022-01,NJ,34.0,MORRIS,34027.0,65+ years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,NaN
50000002,2022-05,OR,41.0,WASHINGTON,41067.0,0 - 17 years,Female,Unknown,Unknown,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Unknown,Missing,No,NaN
50000003,2021-01,CA,6.0,MONTEREY,6053.0,18 to 49 years,Female,White,Hispanic/Latino,NaN,NaN,Missing,Missing,Probable Case,Unknown,Missing,Missing,Missing,NaN
50000004,2022-01,TX,48.0,TARRANT,48439.0,0 - 17 years,Male,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
50000005,2020-12,IN,18.0,MARION,18097.0,18 to 49 years,Female,White,Unknown,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,NaN

## Clean Dataframe 3

In [95]:
# delete irrelevent columns
df3.drop(df.columns[[2,3,4,9,10,11,12,13,14,15,16,17,18]], axis = 1, inplace = True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3709103835.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(df.columns[[2,3,4,9,10,11,12,13,14,15,16,17,18]], axis = 1, inplace = True)

In [96]:
# recheck dataframe
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24849224 entries, 50000001 to 74849224
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   case_month  object
 1   res_state   object
 2   age_group   object
 3   sex         object
 4   race        object
 5   ethnicity   object
dtypes: object(6)
memory usage: 1.1+ GB

In [97]:
df3.replace(['Missing',],'Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\4031025617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.replace(['Missing',],'Unknown',inplace=True)

In [98]:
# seperate year and month to match other dataframes
df3[['year','month']] = df3['case_month'].str.split('-', expand = True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2387667040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3[['year','month']] = df3['case_month'].str.split('-', expand = True)
C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2387667040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3[['year','month']] = df3['case_month'].str.split('-', expand = True)

In [99]:
# delete combined date column because not needed
# delete month column because other dataframes only have years
df3.drop(columns=['case_month','month'],inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2069424937.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(columns=['case_month','month'],inplace=True)

In [100]:

df3['ethnicity'].replace(['Non-Hispanic/Latino'],'',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3189797356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ethnicity'].replace(['Non-Hispanic/Latino'],'',inplace=True)

In [101]:
# combine race and ethnicity into 1 new column to match other dataframes
df3['Ethnicity_1']=df3['race'] + df3['ethnicity']

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3767690224.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1']=df3['race'] + df3['ethnicity']

In [102]:
#delete race and ethnicity columns because no longer needed
df3.drop(columns=['race','ethnicity'],inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2517130723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(columns=['race','ethnicity'],inplace=True)

In [103]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['UnknownUnknown',],'Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3081571542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['UnknownUnknown',],'Unknown',inplace=True)

In [104]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['WhiteUnknown',],'White',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1666567956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['WhiteUnknown',],'White',inplace=True)

In [105]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['WhiteHispanic/Latino',],'White',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3633974833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['WhiteHispanic/Latino',],'White',inplace=True)

In [106]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['American Indian/Alaska NativeHispanic/Latino',],'American Indian/Alaska Native',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3322129445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['American Indian/Alaska NativeHispanic/Latino',],'American Indian/Alaska Native',inplace=True)

In [107]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['AsianHispanic/Latino',],'Asian',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2176238927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['AsianHispanic/Latino',],'Asian',inplace=True)

In [108]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['BlackHispanic/Latino',],'Black',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3824560289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['BlackHispanic/Latino',],'Black',inplace=True)

In [109]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['UnknownHispanic/Latino',],'Hispanic/Latino',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2529516759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['UnknownHispanic/Latino',],'Hispanic/Latino',inplace=True)

In [110]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderHispanic/Latino',],'Native Hawaiian/Other Pacific Islander',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1387725447.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderHispanic/Latino',],'Native Hawaiian/Other Pacific Islander',inplace=True)

In [111]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['Multiple/OtherHispanic/Latino',],'Multiple/Other',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\4226672032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['Multiple/OtherHispanic/Latino',],'Multiple/Other',inplace=True)

In [112]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['American Indian/Alaska NativeUnknown',],'American Indian/Alaska Native',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\2500876287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['American Indian/Alaska NativeUnknown',],'American Indian/Alaska Native',inplace=True)

In [113]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['Multiple/OtherUnknown',],'Multiple/Other',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3566047888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['Multiple/OtherUnknown',],'Multiple/Other',inplace=True)

In [114]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['AsianUnknown',],'Asian',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\106527542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['AsianUnknown',],'Asian',inplace=True)

In [115]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['BlackUnknown',],'Black',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3181245073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['BlackUnknown',],'Black',inplace=True)

In [116]:
# replace improper values with correct spelling
df3['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderUnknown',],'Native Hawaiian/Other Pacific Islander',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1684452154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Ethnicity_1'].replace(['Native Hawaiian/Other Pacific IslanderUnknown',],'Native Hawaiian/Other Pacific Islander',inplace=True)

In [117]:
df3.fillna('Unknown',inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\3441854579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.fillna('Unknown',inplace=True)

In [118]:
# recheck values in ethnicity column
df3['Ethnicity_1'].unique()

array(['White', 'Unknown', 'Black', 'American Indian/Alaska Native',
       'Multiple/Other', 'Asian', 'Hispanic/Latino',
       'Native Hawaiian/Other Pacific Islander'], dtype=object)

In [119]:
# rename column to match other dataframes
df3.rename(columns={'res_state':'state'},inplace=True)

C:\Users\drmat\AppData\Local\Temp\ipykernel_7448\1592095892.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.rename(columns={'res_state':'state'},inplace=True)

In [120]:
# recheck dataframe
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24849224 entries, 50000001 to 74849224
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   state        object
 1   age_group    object
 2   sex          object
 3   year         object
 4   Ethnicity_1  object
dtypes: object(5)
memory usage: 947.9+ MB

In [121]:
#Finding number missing values per row
df3.isnull().sum()

state          0
age_group      0
sex            0
year           0
Ethnicity_1    0
dtype: int64

In [122]:
#finding duplicate records
df3.duplicated().sum()

24842586

In [123]:
# change column order
df3=df3.iloc[:, [3,0,1,2,4]]

In [124]:
# check unique value counts
df3['state'].value_counts()

CA    4975783
NY    3286474
FL    2270100
TX    1503061
IL    1276315
AZ    1121477
MA    1085372
NJ     996569
PA     747698
OH     690421
NC     633813
WA     606253
NV     466581
MI     466226
CO     402924
UT     402572
KY     385676
TN     363872
MN     344980
GA     330207
MO     244518
AL     244450
MD     234933
SC     225153
IN     201676
DC     138254
KS     136145
VA     117238
CT     113576
WI     110224
RI      87920
OK      78755
OR      78314
MT      69916
DE      69869
NE      66759
NM      64584
LA      64331
ID      55195
GU      34200
WY      31849
AR      23613
AK       1378
Name: state, dtype: int64

In [125]:
df3=df3[df3['state'].str.contains('Unknown')==False]

In [126]:
# check unique value counts
df3['age_group'].value_counts()

18 to 49 years    13222243
50 to 64 years     4448004
0 - 17 years       4353410
65+ years          2629693
Unknown             195874
Name: age_group, dtype: int64

In [127]:
df3=df3[df3['age_group'].str.contains('Unknown')==False ]

In [128]:
# check unique value counts
df3['sex'].value_counts()

Female     12953029
Male       11336692
Unknown      363489
Other           140
Name: sex, dtype: int64

In [129]:
df3=df3[df3['sex'].str.contains('Unknown')==False ]

In [130]:
# check unique value counts
df3['year'].value_counts()

2021    10596961
2022     7671005
2020     6021895
Name: year, dtype: int64

In [131]:
df3=df3[df3['year'].str.contains('Unknown')==False ]

In [132]:
# check unique value counts
df3['Ethnicity_1'].value_counts()

White                                     10210418
Unknown                                    8599630
Black                                      2776195
Asian                                      1170342
Hispanic/Latino                             872131
Multiple/Other                              476940
American Indian/Alaska Native               120252
Native Hawaiian/Other Pacific Islander       63953
Name: Ethnicity_1, dtype: int64

In [133]:
df3=df3[df3['Ethnicity_1'].str.contains('Unknown')==False ]

In [134]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15690231 entries, 50000001 to 74849224
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   year         object
 1   state        object
 2   age_group    object
 3   sex          object
 4   Ethnicity_1  object
dtypes: object(5)
memory usage: 718.2+ MB

## Recombine Dataframe

In [135]:
frames = [df1,df2,df3]
df_concat = pd.concat(frames, axis =0)
df_concat.reset_index()

             index  year state       age_group     sex Ethnicity_1
0                0  2022    AZ       65+ years  Female       White
1                3  2021    IL       65+ years    Male       White
2                4  2022    AZ       65+ years  Female       White
3                7  2021    IL       65+ years    Male       White
4                8  2022    AZ       65+ years  Female       White
...            ...   ...   ...             ...     ...         ...
47143590  74849217  2022    AZ       65+ years  Female       White
47143591  74849218  2020    CA  50 to 64 years    Male       White
47143592  74849220  2021    IL       65+ years    Male       White
47143593  74849223  2021    IL       65+ years    Male       White
47143594  74849224  2022    CA  18 to 49 years  Female       White

[47143595 rows x 6 columns]

In [136]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47143595 entries, 0 to 74849224
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   year         object
 1   state        object
 2   age_group    object
 3   sex          object
 4   Ethnicity_1  object
dtypes: object(5)
memory usage: 2.1+ GB

## Create new dataframes based on variables

In [137]:
df_age_group=df_concat[['year','state','age_group']]

In [138]:
df_age_group.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47143595 entries, 0 to 74849224
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   year       object
 1   state      object
 2   age_group  object
dtypes: object(3)
memory usage: 1.4+ GB

In [139]:
df_age_group.to_pickle(r'C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\02 Prepared\COVID\age_group3.pkl')

In [140]:
df_gender=df_concat[['year','state','sex']]

In [141]:
df_gender.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47143595 entries, 0 to 74849224
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   year    object
 1   state   object
 2   sex     object
dtypes: object(3)
memory usage: 1.4+ GB

In [142]:
df_gender.to_pickle(r'C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\02 Prepared\COVID\gender3.pkl')

In [143]:
df_ethnicity=df_concat[['year','state','Ethnicity_1']]

In [144]:
df_ethnicity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47143595 entries, 0 to 74849224
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   year         object
 1   state        object
 2   Ethnicity_1  object
dtypes: object(3)
memory usage: 1.4+ GB

In [145]:
df_ethnicity.to_pickle(r'C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\02 Prepared\COVID\ethnicity3.pkl')

In [146]:
df_state=df_concat[['year','state']]

In [147]:
df_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47143595 entries, 0 to 74849224
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   year    object
 1   state   object
dtypes: object(2)
memory usage: 1.1+ GB

In [148]:
df_state.to_pickle(r'C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\02 Prepared\COVID\state3.pkl')