## Import Libraries

In [1]:
import pandas as pd
import sweetviz as sv
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import chardet
import datetime as dt

## Import Data

In [2]:
df1=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\Suicide\2019-Public Health Impact Suicide.xlsx", sheet_name='State', index_col=False)

In [3]:
df2=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\Suicide\2020-Public Health Impact Suicide.xlsx", sheet_name='State', index_col=False)

In [4]:
df3=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\Suicide\2021-Public Health Impact Suicide.xlsx", sheet_name='State', index_col=False)

## Merge Dataframes

In [5]:
# use concat to merge all 3 dataframes
state_frames=[df1,df2,df3]
df_states=pd.concat(state_frames, axis=0)
df_states.reset_index()

,index,Edition,Report Type,Measure Name,State Name,Rank,Value,Score,Lower CI,Upper CI,Source,Source Year
0,0,2019,2019 Annual,Suicide,New York,2.0,8.4,-1.27,8.8,8.0,"CDC WONDER, Multiple Cause of Death Files",2017.0
1,1,2019,2019 Annual,Suicide,New Jersey,3.0,8.7,-1.20,9.3,8.1,"CDC WONDER, Multiple Cause of Death Files",2017.0
2,2,2019,2019 Annual,Suicide,Massachusetts,4.0,9.7,-1.00,10.4,8.9,"CDC WONDER, Multiple Cause of Death Files",2017.0
3,3,2019,2019 Annual,Suicide,Maryland,5.0,10.3,-0.87,11.2,9.5,"CDC WONDER, Multiple Cause of Death Files",2017.0
4,4,2019,2019 Annual,Suicide,Connecticut,6.0,10.9,-0.75,12.0,9.8,"CDC WONDER, Multiple Cause of Death Files",2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...
151,47,2021,2021 Annual,Suicide,West Virginia,34.0,18.4,0.82,20.4,16.4,AHR data,NaN
152,48,2021,2021 Annual,Suicide,Wisconsin,13.0,14.4,-0.02,15.4,13.4,AHR data,NaN
153,49,2021,2021 Annual,Suicide,Wyoming,50.0,29.8,2.00,34.3,25.3,AHR data,NaN
154,50,2021,2021 Annual,Suicide,United States,NaN,14.5,NaN,14.6,14.3,AHR data,NaN
155,51,2021,2021 Annual,Suicide,District of Columbia,NaN,6.5,NaN,8.8,4.6,AHR data,NaN

## Inspect Data

In [6]:
df_states.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 51
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Edition       156 non-null    int64
 1   Report Type   156 non-null    object
 2   Measure Name  156 non-null    object
 3   State Name    156 non-null    object
 4   Rank          152 non-null    float64
 5   Value         156 non-null    float64
 6   Score         152 non-null    float64
 7   Lower CI      156 non-null    float64
 8   Upper CI      156 non-null    float64
 9   Source        156 non-null    object
 10  Source Year   52 non-null     float64
dtypes: float64(6), int64(1), object(4)
memory usage: 14.6+ KB

In [7]:
#numeric and non-numeric data types
cat_df = df_states.select_dtypes(include=['object'])
num_df = df_states.select_dtypes(exclude=['object'])
def printColumnTypes(non_numeric_df, numeric_df):
    '''separates non-numeric and numeric columns'''
    print('Non-Numeric columns:')
    for col in non_numeric_df:
        print(f'{col}')
    print('')
    print('Numeric columns:')
    for col in numeric_df:
        print(f'{col}')
printColumnTypes(cat_df, num_df)

Non-Numeric columns:
Report Type
Measure Name
State Name
Source

Numeric columns:
Edition
Rank
Value
Score
Lower CI
Upper CI
Source Year

In [8]:
#descriptive statistics
round(df_states.describe(),2)

       Edition    Rank   Value   Score  Lower CI  Upper CI  Source Year
count   156.00  152.00  156.00  152.00    156.00    156.00         52.0
mean   2020.00   25.35   16.74    0.45     18.23     15.26       2017.0
std       0.82   14.66    4.79    0.89      5.43      4.25          0.0
min    2019.00    0.00    6.50   -1.37      8.80      4.60       2017.0
25%    2019.00   12.75   14.20   -0.08     14.60     13.35       2017.0
50%    2020.00   25.00   16.15    0.42     17.55     14.95       2017.0
75%    2021.00   38.00   19.60    1.08     21.65     17.85       2017.0
max    2021.00   51.00   29.80    2.00     34.30     26.40       2017.0

In [9]:
#find rows with null vaues
df_states.isnull().sum()

Edition           0
Report Type       0
Measure Name      0
State Name        0
Rank              4
Value             0
Score             4
Lower CI          0
Upper CI          0
Source            0
Source Year     104
dtype: int64

In [10]:
#percent of data that is missing per row
total_rows= len(df_states)
total_missing_rows = df_states.isnull().sum()
percent_missing_per_row = round((total_missing_rows/total_rows)* 100,2)
percent_missing_per_row[percent_missing_per_row > 0]

Rank            2.56
Score           2.56
Source Year    66.67
dtype: float64

In [11]:
# drop columns due to lack of data
df_states.drop(columns=['Source Year'],inplace=True)

In [12]:
#recheck dataframe
df_states.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 51
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Edition       156 non-null    int64
 1   Report Type   156 non-null    object
 2   Measure Name  156 non-null    object
 3   State Name    156 non-null    object
 4   Rank          152 non-null    float64
 5   Value         156 non-null    float64
 6   Score         152 non-null    float64
 7   Lower CI      156 non-null    float64
 8   Upper CI      156 non-null    float64
 9   Source        156 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 13.4+ KB

In [13]:
#inspect rows with null values
df_nan = df_states[df_states['Rank'].isnull()==True]
df_nan.reset_index()

,index,Edition,Report Type,Measure Name,State Name,Rank,Value,Score,Lower CI,Upper CI,Source
0,50,2020,2020 Annual,Suicide,United States,NaN,14.8,NaN,14.9,14.7,AHR data
1,51,2020,2020 Annual,Suicide,District of Columbia,NaN,7.8,NaN,10.3,5.8,AHR data
2,50,2021,2021 Annual,Suicide,United States,NaN,14.5,NaN,14.6,14.3,AHR data
3,51,2021,2021 Annual,Suicide,District of Columbia,NaN,6.5,NaN,8.8,4.6,AHR data

In [14]:
#replace missing values with 0
df_states.fillna(0,inplace=True)

In [15]:
#recheck null values
df_states.isnull().sum()

Edition         0
Report Type     0
Measure Name    0
State Name      0
Rank            0
Value           0
Score           0
Lower CI        0
Upper CI        0
Source          0
dtype: int64

In [16]:
# get all the unique values in a column
unique_column= df_states['Report Type'].unique()
unique_column

array(['2019 Annual', '2020 Annual', '2021 Annual'], dtype=object)

In [17]:
# get all the unique values in a column
Measure_Name_unique_column= df_states['Measure Name'].unique()
Measure_Name_unique_column

array(['Suicide'], dtype=object)

In [18]:
# get all the unique values in a column
State_Name_unique_column= df_states['State Name'].unique()
State_Name_unique_column

array(['New York', 'New Jersey', 'Massachusetts', 'Maryland',
       'Connecticut', 'California', 'Illinois', 'Delaware',
       'Rhode Island', 'Texas', 'Virginia', 'Georgia', 'Minnesota',
       'Michigan', 'Florida', 'Nebraska', 'North Carolina', 'Ohio',
       'Mississippi', 'Iowa', 'Pennsylvania', 'Louisiana', 'Hawaii',
       'Wisconsin', 'Indiana', 'South Carolina', 'Alabama', 'Kentucky',
       'Tennessee', 'Washington', 'Vermont', 'Missouri', 'Arizona',
       'New Hampshire', 'Kansas', 'Maine', 'Oklahoma', 'Oregon',
       'North Dakota', 'Colorado', 'Nevada', 'Arkansas', 'West Virginia',
       'South Dakota', 'Utah', 'Idaho', 'New Mexico', 'Alaska', 'Wyoming',
       'Montana', 'United States', 'District of Columbia'], dtype=object)

In [19]:
#get value count for unique values
df_states['State Name'].value_counts().sort_index(ascending=True)

Alabama                 3
Alaska                  3
Arizona                 3
Arkansas                3
California              3
Colorado                3
Connecticut             3
Delaware                3
District of Columbia    3
Florida                 3
Georgia                 3
Hawaii                  3
Idaho                   3
Illinois                3
Indiana                 3
Iowa                    3
Kansas                  3
Kentucky                3
Louisiana               3
Maine                   3
Maryland                3
Massachusetts           3
Michigan                3
Minnesota               3
Mississippi             3
Missouri                3
Montana                 3
Nebraska                3
Nevada                  3
New Hampshire           3
New Jersey              3
New Mexico              3
New York                3
North Carolina          3
North Dakota            3
Ohio                    3
Oklahoma                3
Oregon                  3
Pennsylvania            3
Rhode Island            3
South Carolina          3
South Dakota            3
Tennessee               3
Texas                   3
United States           3
Utah                    3
Vermont                 3
Virginia                3
Washington              3
West Virginia           3
Wisconsin               3
Wyoming                 3
Name: State Name, dtype: int64

In [20]:
#create a function to find outliers using IQR
def find_outliers_IQR(df_states):
    q1=df_states.quantile(0.25)
    q3=df_states.quantile(0.75)
    IQR=q3-q1
    outliers = df_states[((df_states<(q1-1.5*IQR)) | (df_states>(q3+1.5*IQR)))]
    return outliers

In [21]:
#check column for outliers
outliers = find_outliers_IQR(df_states['Value'])
print('number of outliers: '+ str(len(outliers)))
print('max outlier value: '+ str(outliers.max()))
print('min outlier value: '+ str(outliers.min()))
outliers

number of outliers: 3
max outlier value: 29.8
min outlier value: 28.6

49    29.7
1     28.6
49    29.8
Name: Value, dtype: float64

In [22]:
#check column for outliers
outliers = find_outliers_IQR(df_states['Lower CI'])
print('number of outliers: '+ str(len(outliers)))
print('max outlier value: '+ str(outliers.max()))
print('min outlier value: '+ str(outliers.min()))
outliers

number of outliers: 3
max outlier value: 34.3
min outlier value: 32.6

49    33.0
1     32.6
49    34.3
Name: Lower CI, dtype: float64

In [23]:
#check column for outliers
outliers = find_outliers_IQR(df_states['Upper CI'])
print('number of outliers: '+ str(len(outliers)))
print('max outlier value: '+ str(outliers.max()))
print('min outlier value: '+ str(outliers.min()))
outliers

number of outliers: 6
max outlier value: 26.4
min outlier value: 4.6

49    26.4
51     4.9
51     5.8
1     24.7
49    25.3
51     4.6
Name: Upper CI, dtype: float64

## Create Dataframe Report

In [24]:
#use sweetviz to generate dataframe report
my_report = sv.analyze(df_states)
my_report.show_html('State Suicides 2019-2021.html')

                                             |          | [  0%]   00:00 -> (? left)

Report State Suicides 2019-2021.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Export Dataframe

In [ ]:
#export using pickle
df_states.to_pickle(r'C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\02 Prepared\state_suicides.pkl')