## Import Libraries

In [42]:
import pandas as pd
import sweetviz as sv
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import chardet
import datetime as dt

## Import Data

In [43]:
df1=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\Suicide\2019-Public Health Impact Suicide.xlsx", sheet_name='Age Groups', index_col=False)

In [44]:
df2=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\Suicide\2020-Public Health Impact Suicide.xlsx", sheet_name='Age Groups', index_col=False)

In [45]:
df3=pd.read_excel(r"C:\Users\drmat\OneDrive\Documents\Career Foundry\COVID_Suicide\02 Data\01 Raw\Suicide\2021-Public Health Impact Suicide.xlsx", sheet_name='Age Groups', index_col=False)

## Merge Dataframes

In [46]:
# use concat to merge all 3 dataframes
age_frames=[df1,df2,df3]
df=pd.concat(age_frames, axis=0)
df.reset_index()

,index,Edition,Report Type,Measure Name,State Name,Rank,Value,Score,Lower CI,Upper CI,Source,Source Year
0,0,2019,2019 Annual,15-24,Alabama,NaN,14.3,NaN,17.6,11.6,"CDC WONDER, Multiple Cause of Death Files",2017.0
1,1,2019,2019 Annual,25-34,Alabama,NaN,19.4,NaN,22.8,16.0,"CDC WONDER, Multiple Cause of Death Files",2017.0
2,2,2019,2019 Annual,35-44,Alabama,NaN,25.0,NaN,29.0,21.0,"CDC WONDER, Multiple Cause of Death Files",2017.0
3,3,2019,2019 Annual,45-54,Alabama,23.0,22.9,0.4,26.7,19.2,"CDC WONDER, Multiple Cause of Death Files",2017.0
4,4,2019,2019 Annual,55-64,Alabama,NaN,23.1,NaN,26.7,19.4,"CDC WONDER, Multiple Cause of Death Files",2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1242,410,2021,2021 Annual,85+,West Virginia,NaN,NaN,NaN,NaN,NaN,AHR data,NaN
1243,411,2021,2021 Annual,85+,Wisconsin,NaN,16.4,NaN,25.0,10.1,AHR data,NaN
1244,412,2021,2021 Annual,85+,Wyoming,NaN,NaN,NaN,NaN,NaN,AHR data,NaN
1245,413,2021,2021 Annual,85+,United States,NaN,20.1,NaN,21.2,19.0,AHR data,NaN
1246,414,2021,2021 Annual,85+,District of Columbia,NaN,NaN,NaN,NaN,NaN,AHR data,NaN

## Inspect Dataframe

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1247 entries, 0 to 414
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Edition       1247 non-null   int64
 1   Report Type   1247 non-null   object
 2   Measure Name  1247 non-null   object
 3   State Name    1247 non-null   object
 4   Rank          100 non-null    float64
 5   Value         1059 non-null   float64
 6   Score         100 non-null    float64
 7   Lower CI      1152 non-null   float64
 8   Upper CI      1152 non-null   float64
 9   Source        1247 non-null   object
 10  Source Year   416 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 116.9+ KB

## Clean Dataframe

In [48]:
#Drop/remove irrelevant column(s)  
df.drop(columns = ['Report Type','Rank','Score','Lower CI','Upper CI','Source','Source Year'],inplace=True)

In [49]:
df.head()

   Edition Measure Name State Name  Value
0     2019        15-24    Alabama   14.3
1     2019        25-34    Alabama   19.4
2     2019        35-44    Alabama   25.0
3     2019        45-54    Alabama   22.9
4     2019        55-64    Alabama   23.1

In [50]:
# rename columns to match other dataframes
df.rename(columns={df.columns[0]:'year',df.columns[1]:'age_group',df.columns[2]:'state',df.columns[3]:'suicide_deaths'},inplace=True)

In [51]:
# recheck dataframe
df.head()

   year age_group    state  suicide_deaths
0  2019     15-24  Alabama            14.3
1  2019     25-34  Alabama            19.4
2  2019     35-44  Alabama            25.0
3  2019     45-54  Alabama            22.9
4  2019     55-64  Alabama            23.1

In [52]:
#find rows with null vaues
df.isnull().sum()

year                0
age_group           0
state               0
suicide_deaths    188
dtype: int64

In [53]:
#find percent of null values per row
total_rows= len(df)
total_missing_rows = df.isnull().sum()
percent_missing_per_row = round((total_missing_rows/total_rows)* 100,2)
percent_missing_per_row[percent_missing_per_row > 0]

suicide_deaths    15.08
dtype: float64

In [54]:
df['suicide_deaths'].fillna(df['suicide_deaths'].median(),inplace=True)

In [55]:
# recheck rows with null vaues
df.isnull().sum()

year              0
age_group         0
state             0
suicide_deaths    0
dtype: int64

In [56]:
# check unique value counts
df['year'].value_counts()

2019    416
2020    416
2021    415
Name: year, dtype: int64

In [57]:
# check unique value counts
df['age_group'].value_counts()

25-34         104
35-44         104
45-54         104
55-64         104
65-74         104
75-84         104
85+           104
15-24         103
Ages 15-24     52
Ages 25-34     52
Ages 35-44     52
Ages 45-54     52
Ages 55-64     52
Ages 65-74     52
Ages 75-84     52
Ages 85+       52
Name: age_group, dtype: int64

In [58]:
# change value for consistency
df['age_group'].replace(['Ages 15-24'],'15-24',inplace=True)

In [59]:
# change value for consistency
df['age_group'].replace(['Ages 25-34'],'25-34',inplace=True)

In [60]:
# change value for consistency
df['age_group'].replace(['Ages 35-44'],'35-44',inplace=True)

In [61]:
# change value for consistency
df['age_group'].replace(['Ages 45-54'],'45-54',inplace=True)

In [62]:
# change value for consistency
df['age_group'].replace(['Ages 55-64'],'55-64',inplace=True)

In [63]:
# change value for consistency
df['age_group'].replace(['Ages 65-74'],'65-74',inplace=True)

In [64]:
# change value for consistency
df['age_group'].replace(['Ages 75-84'],'75-84',inplace=True)

In [65]:
# change value for consistency
df['age_group'].replace(['Ages 85+'],'85+',inplace=True)

In [66]:
# recheck unique value counts
df['age_group'].value_counts()

25-34    156
35-44    156
45-54    156
55-64    156
65-74    156
75-84    156
85+      156
15-24    155
Name: age_group, dtype: int64

In [67]:
# check unique value counts
df['state'].value_counts().sort_index(ascending=True)

Alabama                 23
Alaska                  24
Arizona                 24
Arkansas                24
California              24
Colorado                24
Connecticut             24
Delaware                24
District of Columbia    24
Florida                 24
Georgia                 24
Hawaii                  24
Idaho                   24
Illinois                24
Indiana                 24
Iowa                    24
Kansas                  24
Kentucky                24
Louisiana               24
Maine                   24
Maryland                24
Massachusetts           24
Michigan                24
Minnesota               24
Mississippi             24
Missouri                24
Montana                 24
Nebraska                24
Nevada                  24
New Hampshire           24
New Jersey              24
New Mexico              24
New York                24
North Carolina          24
North Dakota            24
Ohio                    24
Oklahoma                24
Oregon                  24
Pennsylvania            24
Rhode Island            24
South Carolina          24
South Dakota            24
Tennessee               24
Texas                   24
United States           24
Utah                    24
Vermont                 24
Virginia                24
Washington              24
West Virginia           24
Wisconsin               24
Wyoming                 24
Name: state, dtype: int64

In [68]:
# check descriptive statistics of suicide_deaths column
round(df['suicide_deaths'].describe(),2)

count    1247.00
mean       20.62
std         6.30
min         7.00
25%        16.80
50%        19.90
75%        23.45
max        56.00
Name: suicide_deaths, dtype: float64

In [69]:
# check for outliers
# create a function to find outliers using IQR

def find_outliers_IQR(df):

   q1=df.quantile(0.25)

   q3=df.quantile(0.75)

   IQR=q3-q1

   outliers = df[((df<(q1-1.5*IQR)) | (df>(q3+1.5*IQR)))]

   return outliers

In [70]:
# run defined function on suicide_deaths column
outliers = find_outliers_IQR(df['suicide_deaths'])

print('number of outliers: '+ str(len(outliers)))

print('max outlier value: '+ str(outliers.max()))

print('min outlier value: '+ str(outliers.min()))

outliers

number of outliers: 51
max outlier value: 56.0
min outlier value: 33.7

8      44.3
9      44.9
23     36.6
158    36.0
209    41.5
210    37.5
211    36.7
212    34.8
214    37.5
230    38.9
231    50.6
273    42.9
275    34.0
303    37.2
363    35.9
370    35.9
391    36.5
395    35.6
408    36.3
410    37.7
411    42.0
412    34.6
1      42.3
49     33.7
53     40.4
82     38.1
129    34.0
147    36.6
153    38.5
167    37.5
181    34.9
184    35.2
257    33.8
410    33.7
0      56.0
24     36.8
39     36.9
52     43.4
76     35.4
81     33.8
150    34.1
152    43.1
173    33.8
180    34.0
204    42.3
256    34.3
322    38.8
338    39.2
365    41.9
390    46.9
399    42.6
Name: suicide_deaths, dtype: float64

In [71]:
# remove outliers by imputing with mean
# create a function to impute the mean
def impute_outliers_IQR(df):

   q1=df.quantile(0.25)

   q3=df.quantile(0.75)

   IQR=q3-q1

   upper = df[~(df>(q3+1.5*IQR))].max()

   lower = df[~(df<(q1-1.5*IQR))].min()

   df = np.where(df > upper,

       df.mean(),

       np.where(

           df < lower,

           df.mean(),

           df

           )

       )

   return df

In [72]:
# run defined function on ouliers in suicide_deaths column
df['suicide_deaths'] = impute_outliers_IQR(df['suicide_deaths'])

In [73]:
# recheck descriptive statistics of suicide_deaths column
round(df['suicide_deaths'].describe(),2)

count    1247.00
mean       19.89
std         5.03
min         7.00
25%        16.80
50%        19.90
75%        22.45
max        33.40
Name: suicide_deaths, dtype: float64

In [74]:
# create variable to match other dataframes
df.loc[(df['age_group']=='15-24')|(df['age_group']=='25-34')|(df['age_group']=='35-44'), 'age_groups']='18-49'

In [75]:
df.loc[(df['age_group']=='45-54')|(df['age_group']=='55-64'), 'age_groups']='50-64'

In [76]:
df.loc[(df['age_group']=='65-74')|(df['age_group']=='75-84')|(df['age_group']=='85+'), 'age_groups']='65+'

In [77]:
# check value count for unique variables in age_groups column
df['age_groups'].value_counts()

65+      468
18-49    467
50-64    312
Name: age_groups, dtype: int64

In [78]:
# delete age_group column because irrelevent
df.drop(columns=['age_group'],inplace=True)

In [79]:
# create dataframe groups to match other dataframes
dfgroup=df.groupby(['year','state','age_groups'])[['suicide_deaths']].agg('sum')

In [80]:
# round suicide_deaths to 2 decimal placed
dfgroup['suicide_deaths']=dfgroup['suicide_deaths'].round(2)

In [81]:
# check grouping dataframe
dfgroup.head(50)

                                      suicide_deaths
year state                age_groups
2019 Alabama              18-49                58.70
                          50-64                46.00
                          65+                  58.40
     Alaska               18-49                69.14
                          50-64                53.70
                          65+                  59.70
     Arizona              18-49                64.00
                          50-64                49.50
                          65+                  69.52
     Arkansas             18-49                76.80
                          50-64                55.60
                          65+                  67.10
     California           18-49                33.50
                          50-64                30.30
                          65+                  54.00
     Colorado             18-49                74.60
                          50-64                57.50
                          65+                  67.70
     Connecticut          18-49                35.00
                          50-64                32.50
                          65+                  44.80
     Delaware             18-49                57.90
                          50-64                41.40
                          65+                  59.70
     District of Columbia 18-49                59.70
                          50-64                39.80
                          65+                  59.70
     Florida              18-49                43.70
                          50-64                45.20
                          65+                  63.40
     Georgia              18-49                48.00
                          50-64                37.80
                          65+                  54.50
     Hawaii               18-49                60.80
                          50-64                39.10
                          65+                  59.10
     Idaho                18-49                86.40
                          50-64                64.70
                          65+                  71.00
     Illinois             18-49                42.10
                          50-64                29.40
                          65+                  39.90
     Indiana              18-49                62.80
                          50-64                44.70
                          65+                  48.30
     Iowa                 18-49                57.50
                          50-64                38.90
                          65+                  50.60
     Kansas               18-49                75.70
                          50-64                47.20

In [82]:
#Use sweetviz to generate report
my_report = sv.analyze(df)
my_report.show_html('Age Group Suicides 2019-2021.html')

                                             |          | [  0%]   00:00 -> (? left)

Report Age Group Suicides 2019-2021.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.